.nav__item {
    list-style-type: none;
    margin-right: 40px;
}

.nav__item:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 767.98px) {
    .nav__item {
        margin-right: 20px;
    }
}